<!DOCTYPE html>

<html lang="ru-ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewBag.Title - ТЗ (C#, MVC)</title>

    <partial name="Partial/_StylesPartial" />

    @await RenderSectionAsync("Styles", false)
    <base href="~/" />
</head>

<body>
    <partial name="Partial/_HeaderPartial" />

    <main role="main" class="pb-4">
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <partial name="Partial/_FooterPartial" />

   <partial name="Partial/_ScriptsPartial" />

    @await RenderSectionAsync("Scripts", false)
</body>
</html>
