<footer class="border-top footer text-white bg-success">
    <div class="container">
        <a class="btn btn-outline-dark" target="_blank" href="https://github.com/kanadeiar/vendista">
            <i class="fab fa-git"></i>
            GitHub
        </a>
    </div>
</footer>
