@{
    ViewBag.Title = "О приложении";
}

<div class="border-1 bg-light shadow rounded-1 p-2">
    <h1>@ViewBag.Title</h1>
    <h1 class="p-4 bg-success text-white text-center rounded-2">ТЗ (C#, MVC)</h1>

    <p>Выполненное задание “Отправка команды на терминал”.</p>

    <a class="btn btn-outline-success" target="_blank" href="https://github.com/kanadeiar/vendista">
        GitHub
    </a>
</div>

