@{
    ViewBag.Title = "О приложении";
}

<div class="border-1 bg-light shadow rounded-1 p-2">
    <h1>@ViewBag.Title</h1>
    <h1 class="p-4 bg-success text-white text-center rounded-2">ТЗ (C#, MVC)</h1>

    <p>Повторить страницу “Отправка команды на терминал” нашего портала Вендиста.</p>

    <p class="mb-0">Видео, как должно работать выполненное задание:</p>

    <div class="mb-2">
        <a href="https://disk.yandex.ru/i/hpLK2JTXTjU9CA" target="_blank">https://disk.yandex.ru/i/hpLK2JTXTjU9CA</a>
    </div>

    <p class="mb-0">Все данные в готовом виде получаются через уже имеющееся HTTP Json API. Описание HTTP Json API (использовать это готовое апи, свое делать не нужно, нужно только фронтенд):</p>

    <div class="mb-2">
        <a href="https://docs.google.com/document/d/108QFu8JpayQTB2yy0ALuz76UtQNMKIdS" target="_blank">https://docs.google.com/document/d/108QFu8JpayQTB2yy0ALuz76UtQNMKIdS</a>
    </div>

    <a class="btn btn-outline-success" href="https://docs.google.com/document/d/17ScmRE8KMs_FWR6z5fGz2oSH5D_y462M/edit" target="_blank">
        Текст задания
    </a>

    <a class="btn btn-outline-success" target="_blank" href="https://github.com/kanadeiar/vendista">
        GitHub
    </a>
</div>

