@{
    ViewBag.Title = "Главная";
}

<div class="border-1 bg-light shadow rounded-1 p-2">
    <h1 class="p-4 bg-success text-white text-center rounded-2">ТЗ (C#, MVC)</h1>

    <h5>Отправка команды на терминал</h5>


    
</div>


